<h1>Charge Data Records</h1>
<nav class="navbar">
    <!-- Search input field -->
     <input type="text" [(ngModel)]="searchText" (input)="filterRecords()" placeholder="Search by Records by ID">
     
</nav>
<table class="table table-bordered">
  <thead>
    <tr>
      <th (click)="changeSortColumn('id')">ID</th>
      <th (click)="changeSortColumn('session_identification')">Session ID</th>
      <th (click)="changeSortColumn('vehicle_identification')">Vehicle ID</th>
      <th (click)="changeSortColumn('start_time')">Start Time <i *ngIf="sortColumn === 'start_time'" class="sort-icon" [class.asc]="sortOrder === 'asc'" [class.desc]="sortOrder === 'desc'"></i></th>
      <th (click)="changeSortColumn('end_time')">End Time <i *ngIf="sortColumn === 'end_time'" class="sort-icon" [class.asc]="sortOrder === 'asc'" [class.desc]="sortOrder === 'desc'"></i></th>
      <th (click)="changeSortColumn('total_cost')">Total Cost <i *ngIf="sortColumn === 'total_cost'" class="sort-icon" [class.asc]="sortOrder === 'asc'" [class.desc]="sortOrder === 'desc'"></i></th>
    </tr>
  </thead>
  <tbody>
         <tr *ngFor="let record of chargeDataRecords | paginate: {itemsPerPage: 3, currentPage: p};">
             <td>{{record.id}}</td>
             <td>{{record.session_identification}}</td>
             <td>{{record.vehicle_identification}}</td>
             <td>{{record.start_time | date:'medium'}}</td>
             <td>{{record.end_time | date:'medium'}}</td>
             <td>{{record.total_cost}}</td>
         </tr>
  </tbody>
  
</table>
<pagination-controls (pageChange) = "p = $event"></pagination-controls>
